.index-top {
    height: 50px;
    width: 100%;
}

.index-topl {
    float: left;
}

.index-topr {
    float: right;
}

.index-toplz,
.index-toprz {
    height: 50px;
    display: flex;
    align-items: center;
}

.index-toprtex {
    display: flex;
    align-items: center;
}

.index-toplz>p {
    text-align: center;
    width: 190px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #e51c23;
}

.index-toplz>span {
    display: flex;
    align-items: center;
}

.index-toplz>span>i {
    font-size: 20px;
}

.index-toplz>span>p {
    cursor: pointer;
}

.index-toprimg {
    width: 33px;
    height: 33px;
}

.index-toprimg>img {
    display: block;
    width: 100%;
    height: 100%;
}

.two-in-menu {
    background-color: #c81623 !important;
}

.two-in-menu>div>.layui-nav {
    background-color: #c81623 !important;
    padding-bottom: 45px;
}

.layui-nav-tree .layui-nav-bar {
    background-color: rgba(0, 0, 0, 0) !important;
}

.two-in-menu .layui-nav-tree .layui-nav-item a:hover {
    background-color: #470914;
}

.layui-nav .layui-nav-child dd.layui-this a,
.layui-nav-child dd.layui-this {
    background-color: #470912 !important;
}

.layui-nav-tree .layui-nav-item {
    border-bottom: 1px solid #931321;
}

.layui-nav-item>dl {
    margin-top: 1px;
}

.two-in-logo {
    font-size: 22px !important;
    width: 190px !important;
    background-color: #c81623;
    background-image: url("../img/logo.png");
    background-size: 99% 85%;
    background-repeat: no-repeat;
}

.two-in-title {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0%;
    left: 190px;
}

.two-in-login {
    display: flex;
    align-items: center;
}

.two-in-login>a {
    padding: 0 0 0 5px;
}

.two-in-top-approve {
    font-size: 14px;
    color: rgba(255, 255, 255, .7);
}

.two-in-message {
    display: inline-block;
    width: 35px;
    height: 35px;
    position: relative;
}

.two-in-message>span {
    position: absolute;
    top: 0%;
    right: 6px;
}

.two-in-data {
    display: flex;
    align-items: center;
}

.two-in-data>a {
    padding: 0 10px 0 6px!important;
}

.two-in-data>div {
    width: 25px;
    height: 15px;
    margin-right: 10px;
    background-image: url("../img/xx.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.two-in-menu {
    width: 190px !important;
}

.two-in-menu-one {
    background-color: #ffffff;
    color: #d2414c;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: fixed !important;
    top: 110px;
    left: 0;
    width: 190px !important;
    z-index: 22;
}

.two-in-menu-one>label {
    font-size: 14px;
}

.two-in-menu-one>i {
    padding: 0 10px 0 10px;
    font-size: 19x;
}

.layui-nav-item>a>i {
    padding: 0 10px 0 0;
    font-size: 20px;
}

.layui-nav-item>dl>dd>a>i {
    font-size: 12px;
    padding: 0 10px 0 15px;
}

.two-in-con {
    left: 190px !important;
    bottom: 10px !important;
    background-color: #f2f2f2;
}

.layui-layout-admin .layui-side {
    top: 110px !important;
}

.layui-layout-admin .layui-body {
    top: 110px;
}