.gis{
    margin: 15px;
    border: 1px solid #c9c9c9;
}
.gis-title{
    height: 48px;
    line-height: 48px;
    background-color: #dcddde;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.gis-title{
    padding:0 20px;

}
.gis-add{
    font-size: 12px;
    cursor: pointer;
}
.gis-con{
    height: 408px;
    z-index: 999999;
}
